@{

    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('images/OilPainting2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<div class="text-center">
    <h1 class="display-4 text-white">Welcome</h1>
</div>

   <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="alert alert-info">
                    <h4 class="alert-heading">Dewey Decimal System</h4>
                    <p>The Dewey Decimal System is a classification system used in libraries to organize books. It assigns unique numbers to different subjects.</p>
                    <hr>
                    <p>Here's how it works:</p>
                    <ul>
                        <li>Decimal Classification: Subjects are grouped into 10 main classes, represented by digits 0 to 9.</li>
                        <li>Subdivision: Each main class is further divided into more specific categories using additional digits.</li>
                        <li>Hierarchy: It follows a hierarchy, with broader subjects at higher levels and specific ones at lower levels.</li>
                        <li>Organizing Books: Books are labeled with Dewey Decimal numbers on their spines, making it easy to find them on library shelves.</li>
                        <li>User-Friendly: It helps patrons and librarians quickly locate books on related topics.</li>        
                    </ul>
                    <hr>
                        <h4 class="alert-heading">Replacing Books Game</h4>

                        <p>
                            There are 3 difficulties, you will have to drag the books into the correct positions 
                            before the timer runs out in order to win the game. You have to order the books by call number and then author name</p>
                        <ul>
                            <li>Easy: 5 books, 30 seconds</li>
                            <li>Medium: 10 books, 30 seconds</li>
                            <li>Hard: 10 books, 25 seconds</li>
                        </ul>
                         <hr>

                        <h4 class="alert-heading">Indentifying Areas Game</h4>

                        <p>
                            There are 2 game modes, you can either practice sorting Call Number to Category or
                            Category to Call Number. Drag the questions or answers and align them correctly 
                            to win the game!</p>
                        <ul>
                            <li>Game Mode 1: Call Number to Category</li>
                            <li>Game Mode 2: Category to Call Number</li>
                            
                        </ul>

                    </div>
                </div>
            </div>
        </div>

                       